body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0
}
header {
    background-color: #5ae455;
    color: #df3131;
    padding: 10px 0;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 36px;
}
section {
    margin: 20px;
}
.description, .contact, .cart {
    padding: 20px;
    background-color: hsl(212, 76%, 67%);
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #333;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    padding: 5px 0;
}
button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #555555;
}
.cart {
    display: none;
}
.cart ul {
    list-style-type: none;
    padding: 0;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.container{
    display:inline-table;
    background-color: rgb(158, 247, 131);
}
.products body {
    font-family: Arial, sans-serif;
}
.products, .cart {
    margin: 20px;
    padding: 20px;
    border: 1px solid #5d5ff1;
    border-radius: 20px;
}
.cart ul {
    list-style-type: none;
    padding: 0;
}
.cart li {
    margin-bottom: 10px;
}
.remove-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.remove-btn:hover {
    background-color: darkred;
}
.products li img{
    width: 30px;
    height: 50px;
}
body {
    font-family: Arial, sans-serif;
    margin: 50px;
  }
  .form-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #db38b3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #45a049;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 50px;
  }
  .form-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #45a049;
  }